/*Map Styling*/

.floorplan {
    position: relative;
    margin: 20px;
}
img {
    width: 100%;
}
.stop {
    display: block;
    position: absolute;
    width: 3%;
    /*height doesn't matter, width will determine it*/
    /*height: 10%;*/
}
#stop1 {
    left: 6%;
    top: 23%;
}
#stop2 {
    left: 50.5%;
    top: 22%;
}
#stop3 {
    left: 37.5%;
    top: 42.33%;
}
#stop4 {
  left: 53.25%;
  top: 45%;
}
#stop5 {
  left: 68%;
  top: 34.5%;
}
#stop6 {
  left: 12%;
  top: 56%;
}
#stop7 {
  left: 30.5%;
  top: 51%;
}
#stop8 {
  left: 33.5%;
  top: 58.5%;
}
#stop9 {
  left: 46%;
  top: 53%;
}
#stop10 {
  left: 82%;
  top: 46%;
}
#stop11 {
  left: 30%;
  top: 78%;
}
#stop12 {
  left: 47%;
  top: 84%;
}
